<h1>Classroom Info</h1>
<%= render partial: 'classroom', locals: {classroom: @classroom} %>
All students:
<ol>
<% @students.each do |s| %>
    <li>
    <%= render partial: 'students/student', locals: {student: s} %>
    </li>
<% end %>
</ol>